@import "./_alert.scss";


        .user {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          cursor: pointer;
          &:hover {
            .dropdown-user {
              opacity: 1;
              visibility: visible;
              top: calc(100% + 5px);
            }
          }
          .dropdown-user {
            width: 120px;
            position: absolute;
            background-color: #f1f2f6;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            top: calc(100% + 15px);
            z-index: 100;
            // box-shadow: rgba(100, 100, 111, 0.4s) 0px 7px 29px 0px;
            padding: 0;
            margin: 0;
            border-radius: 3px;
            overflow: hidden;
            li {
              text-align: center;
              width: 100%;
              color: #333;
              padding: 5px 10px;
              font-size: 16px;
              font-weight: 500;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                background-color: #666;
                color: #fff;
                a {
                  color: #fff;
                }
              }
            }
          }
          i {
            font-size: 24px;
            margin-right: 10px;
          }
          a {
            font-size: 18px;
            font-weight: 500;
            color: #666;
            transition: 0.3s;
            &:hover {
              color: #222;
            }
          }
          span {
            font-weight: 500;
          }
        }

section{
    margin: 20px 0;
  .wrapper-products{
    .product{
      padding: 0 15px;
      box-shadow: 0px 5px 34px -16px rgba(0,0,0,0.1);
      border-radius: 15px;
      // border: #918d8d 1px solid;
      .item{
        width: 100%;
        // height: 300px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s;
        }
        .add-cart{
          width: 60%;
          height: 35px;
          font-weight: 600;
          background-color: #fb6c64;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translatex(-50%);
          z-index: 10;
          color: #eee;
          border-radius:10px ;
          transition: 0.5s;
          opacity: 0;
          visibility: hidden;
        }
        &:hover{
          .add-cart{
            background-color: #f52c2c;
            opacity: 1;
            visibility: visible;
            bottom: 10px;
          }
          img{
            transform: scale(1.1);
          }
        }
      }
      .content{
        // background-color: #222;
        .price{
          font-size: 18px;
        //   height: 25px;
        //   width: 110px;
        //   background-color: #ed5454;
        //   text-align: center;
        //   border-radius:15px ;
        //   color: white;
        }
        .product-name{
          // padding: 0 5px;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}