@import "./media";
@import "./alert";
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

.wrapper-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: #747d8c;

  .container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    .wrapper-BG {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 420px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
      .box {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        button {
          cursor: pointer;
          padding: 10px 20px;
          background-color: #fff;
          color: #333;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .form-bx {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #fff;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.12);
      transition: 0.3s;
      overflow: hidden;
      .form {
        position: absolute;
        left: 0;
        padding: 50px;
        width: 100%;
        transition: 0.3s;
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          .content {
            display: flex;
            align-items: center;
            img {
              width: 35px;
              margin-right: 10px;
            }
            h3 {
              font-size: 24px;
              font-weight: 700;
              margin: 0;
              color: #333;
            }
          }
          input {
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            margin: 20px 0 0 0;
            font-size: 16px;
            border: 1px solid #666;
            border-radius: 5px;
            &::placeholder {
              opacity: 0.8;
              font-weight: 500;
              transition: 0.3s;
            }
            &:focus {
              &::placeholder {
                opacity: 0;
              }
            }
          }
          button {
            background-color: #747d8c;
            color: #fff;
            max-width: 100px;
            margin-top: 20px;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            padding: 10px 5px;
            border-radius: 5px;
          }
          .forgot {
            margin-top: 15px;
            font-size: 16px;
            color: #6e6e6e;
            transition: 0.3s;
            position: relative;

            &:hover {
              color: #333;
            }
          }
        }
      }
      .form-signup {
        left: 100%;
        form {
          button {
            background-color: #3867d6;
          }
        }
      }
      &.active {
        left: 52%;
        .form-signin {
          left: -100%;
        }
        .form-signup {
          left: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .container {
      max-width: 400px;
      height: 650px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrapper-BG {
      top: 0 !important;
      height: 100% !important;
      .box {
        position: absolute !important;
        width: 100% !important;
        height: 150px !important;
        bottom: 0 !important;
      }
      .signin {
        top: 0 !important;
      }
    }
    .form-bx {
      width: 100% !important;
      height: 500px !important;
      top: 0 !important;
      &.active {
        left: 0 !important;
        top: 150px !important;
      }
    }
  }
}
.active {
  background-color: #3867d6;
}
